<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Eventos</title>

    <style>
            *{
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }
            form{
                text-align: center;
            }
            input{
                display: block;
                margin:5px;
            }
            input[type=text]{
                padding:10px;
                font-family: "arial";
                font-size:10pt;
                outline-color:lime;
                width:98%;
                border-radius: 10px;
                border:0px;
                background-color:#eee;
                margin-left: auto;
                margin-right: auto;
            }
    
    
    
        
        </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!--Barra de Navegação-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Eventos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link" href="cadastro.html">Cadastro</a>
                </li>      
                
            </div>
          </nav>

    <!--Fim da barra de Navegação-->

    <form id="cadastroEventos">
        <input type="text" id="tituloevento" name="tituloevento" placeholder="Titulo do Evento">
        <input type="text" id="atracao" name="atracao" placeholder="Atracao">
        <input type="text" id="descricao" name="descricao" placeholder="Descricao">
        <input type="text" id="censura" name="censura" placeholder="Censura">
        <input type="text" id="endereco" name="endereco" placeholder="Endereco">
        <input type="text" id="lotacao" name="lotacao" placeholder="Lotacao">
        <input type="text" id="dataevento" name="dataevento" placeholder="Data do Evento">
        <input type="text" id="hora" name="hora" placeholder="Hora">
        <input type="submit" value="Cadastrar">

    </form>

    <script>
    document.getElementById("cadastroEventos").addEventListener("submit",postData);

    function postData(event) {
        event.preventDefault();

        let tituloevento = document.getElementById("tituloevento").value;
        let atracao = document.getElementById("atracao").value;
        let descricao = document.getElementById("descricao").value;
        let censura = document.getElementById("censura").value;
        let endereco = document.getElementById("endereco").value;
        let lotacao = document.getElementById("lotacao").value;
        let dataevento = document.getElementById("dataevento").value;
        let hora = document.getElementById("hora").value;

        fetch("http://10.26.45.29/eventos/data/cadastrar.php",
        {
            method:'POST',
            headers: new Headers(),
            body:JSON.stringify({tituloevento:tituloevento,atracao:atracao,
            descricao:descricao,censura:censura,endereco:endereco,lotacao:lotacao,
            dataevento:dataevento,hora:hora})
        }
        ).then((res)=>res.json())
        .then((data)=>window.location.replace("confirmar.html"))
        .catch((err)=>console.log("Erro ao tentar cadastrar "+err))
    }
    
    </script>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>