<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta http-equiv="refresh" content="5;url=main.html">
    <title>Pagina de Confirmação</title>
</head>
<body>
    <header>
        <h1>Estamos confirmando a sua operação</h1>
    </header>
    <main>
        <h2>Os dados do evento foram cadastrados com sucesso!</h2>
    </main>
    <footer>

    </footer>
    
</body>
</html>